---
---

@import "stootie-cta";
@import "stootie-ellipse";
@import url('https://rsms.me/inter/inter.css');

body {
  font-family: 'Inter', sans-serif;
  background: #FFFFFF;
}

#app {
  /* FLEX */
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.stootie-header {
  width: 100%;
  top: 0px;

  background: #FFFFFF;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.103721);

  img {
    margin: 5px;
    width: 8%;
  }
}

.stootie-logo {
  height: 100%;
}

.stootie-title {
  font-size: 3rem;
  line-height: 58px;
  font-weight: 500;

  margin-top: 1em;
  margin-bottom: 1em;

  color: #000000;
}

.content {
  /* FLEXBOX */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 60%;

  font-style: normal;
  font-size: 26px;
  line-height: 34px;

  color: #000000;

  button {
    margin-top: 3em;
  }
}
