a.stootie-cta {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
    padding: 20px 40px 20px;

  background: #000000;
  color: #ffffff;
  border-radius: 60px;

  position: static;

  font-style: normal;
  font-size: 20px;
  line-height: 16px;

  text-align: center;

  color: #FFFFFF;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 3em;
}