.stootie-ellipse-46 {
  /* Ellipse 46 */

  position: absolute;
  width: 610px;
  height: 538.5px;
  left: 384px;
  top: 174px;

  /* Gradient/Gradient - Rose */

  background: linear-gradient(90deg, #FFFF0F 0%, #FE2780 100%);
  opacity: 0.14;
  filter: blur(274px);
}