<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Goodbye Stootie</title>
  </head>

  <body>
    <div id="app">
      <img src="assets/img/logo-stootie-rose.png">

      Stootie est définitivement fermée

      Nous avons le regret de vous annoncer que la plateforme de mise en relation Stootie est définitivement fermée depuis le 15 décembre 2021.

      Vous êtes client, Stooter ou partenaire ? Vous avez une question concernant une mission, un abonnement ou la fermeture du service ? Vous trouverez les réponses dans la FAQ ci-dessous. Nous continuons de la mettre à jour régulièrement.

      Parcourir la FAQ

      Toute l'équipe souhaite vous remercie sincèrement pour votre confiance et pour cette belle aventure ensemble.

      La Stooteam 😥
    </div>
  </body>
</html>
