<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Goodbye Stootie</title>
  </head>

  <body>
    <div id="app">
      <div class="stootie-header">
        <img class="stootie-logo" src="assets/img/nav-logo-main.svg">
      </div>

      <div class="content">
        <div class="stootie-title">
          <span>Stootie est définitivement fermé</span>
        </div>

        <div class="stootie-text">
          <p>Nous avons le regret de vous annoncer que la plateforme de mise en relation Stootie est définitivement fermée depuis le 15 décembre 2021.</p>

          <p>Vous êtes client, Stooter ou partenaire ? Vous avez une question concernant une mission, un abonnement ou la fermeture du service ? Vous trouverez les réponses dans la FAQ ci-dessous. Nous continuons de la mettre à jour régulièrement.</p>
        </div>

        <a class="stootie-cta" href="https://faq.stootie.com/fr/articles/5748399-cessation-d-activite-stootie">Parcourir la FAQ</a>

        <div class="stootie-text">
          <p>Toute l'équipe souhaite vous remercie sincèrement pour votre confiance et pour cette belle aventure ensemble.</p>

          <p>La Stooteam</p>
        </div>
      </div>

      <div class="stootie-ellipse-46"></div>
    </div>
  </body>
</html>
